<h4>add a new stylist: </h4>
<form  action="/stylist/new" method="post">

  <label for="stylist-name">this stylists name: </label>
  <input type="test" name="stylist-name" id="stylist-name" >

  <button type="submit" id="stylist-btn">submit</button>
</form>
